* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(108, 102, 149);
    color: #fff;
    text-align: center;
    margin-top: 40px;

}

.teste {
    padding: 20px;
    font-size: 19px;
}

label {
    font-size: 20px;
}

input {
    height: 30px;
    font-size: 18px;
}

.btn {
    height: 30px;
    background-color: rgb(66, 190, 36);
    border: none;
    color: #fff;
    width: 70px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}